swagger: "2.0"
info:
  title: Deployment Manager API
  description: RESTful public-facing API.
    The API is accessible through HTTP calls on specific URLs
    carrying JSON modeled data.
  version: 0.0.1
  termsOfService: ""
  contact:
    email: "prakashecdrid@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"

schemes:
  - http
consumes:
  - application/json
produces:
  - application/json

paths:
  /healthz:
    get:
      summary: to perform healthcheck of the orchestrator
      responses:
        200:
          description: orchestrator is up and accepting connection
        default:
          description: Internal Server Error
          schema:
            $ref: "#/definitions/Error"
  /vm:
    post:
      summary: provisions the host VM
      parameters:
        - name: info
          in: body
          schema:
            $ref: "#/definitions/VMDetails"
      responses:
        202:
          description: provision request validated and accepted
          schema:
            $ref: "#/definitions/CRUDVMResponse"
        400:
          description: provision request was rejected due to bad configuration
          schema:
            $ref: "#/definitions/Error"
        default:
          description: Internal Server Error
          schema:
            $ref: "#/definitions/Error"
  /vm/{id}:
    patch:
      summary: updates the host VM
      parameters:
        - name: info
          in: body
          schema:
            $ref: "#/definitions/PatchVMDetails"
      responses:
        202:
          description: provision request validated and accepted
          schema:
            $ref: "#/definitions/CRUDVMResponse"
        400:
          description: update request was rejected due to bad configuration
          schema:
            $ref: "#/definitions/Error"
        default:
          description: Internal Server Error
          schema:
            $ref: "#/definitions/Error"
    delete:
      summary: deletes the host VM
      parameters:
        - name: id
          type: string
          in: path
          required: true
      responses:
        202:
          description: deprovision request validated and accepted
          schema:
            $ref: "#/definitions/CRUDVMResponse"
        400:
          description: delete request was rejected
          schema:
            $ref: "#/definitions/Error"
        default:
          description: Internal Server Error
          schema:
            $ref: "#/definitions/Error"
  /operations/{id}:
    get:
      summary: gets the status of the asynchronous operations identified by id
      parameters:
        - name: id
          type: string
          in: path
          required: true
      responses:
        200:
          description: returns the operations status
          schema:
            $ref: "#/definitions/OperationsStatusResponse"
definitions:
  PatchVMDetails:
    type: object
    required:
      - memory
      - vcpu
    properties:
      memory:
        type: number
        description: memory in bytes
      vcpu:
        type: number
        description: vcpu count
  VMDetails:
    type: object
    required:
      - memory
      - vcpu
      - machine_image
    properties:
      memory:
        type: number
        description: memory in bytes
      vcpu:
        type: number
        description: vcpu count
      machine_image:
        type: string
        description: name of the host operating system
        enum:
          - ubuntu_linux_22_04
          - amazon_linux
  OperationsStatusResponse:
    type: object
    required:
      - id
    properties:
      id:
        type: string
        description: operations identifier
      status:
        type: array
        description: operation status
        items:
          type: string
          enum:
            - created
            - updated
            - deleted
            - in_progress
  CRUDVMResponse:
    type: object
    properties:
      operation_id:
        type: string
        description: identifier to check the asynchronous provisioning operation status
  Error:
    type: object
    properties:
      message:
        type: string
        description: A description of the error condition
        readOnly: true
